################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Module02/LINQSamples/bin/Debug/net5.0
/Module02/LINQSamples/obj
/Module05/LINQSamples/bin/Debug/net5.0
/Module05/LINQSamples/obj
